body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    scroll-behavior: smooth;
}
.top-header {
    background: #c95656;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line */
    padding: 0.5rem 2rem;
    font-size: 0.9rem;
}

.top-header-left,
.top-header-right {
    display: flex;
    align-items: center; /* Add this line */
}

.top-header-left a,
.top-header-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    align-items: center; /* Add this line */
}

.top-header-right a:last-child {
    margin-right: 0;
}

.top-header .icon {
    height: 16px; /* Adjust as necessary */
    margin-right: 5px; /* Space between icon and text */
}

header {
    background: #ffffff;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 10px 5px -2px rgba(0, 0, 0, 0.4);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-container {
    flex: 1;
}

.menu-icon, .close-icon {
    color: #000000;
    display: none; /* Hidden by default */
    font-size: 30px;
    cursor: pointer;
}

.close-icon {
    text-align: right;
    padding: 10px;
}

.menu-container {
    flex: 2;
    display: flex;
    justify-content: right;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(94, 95, 95); /* Optional: Change color on hover */
}

.logo {
    height: 50px; /* Adjust as necessary */
}

.whatsapp-icon {
    height: 25px; /* Adjust as necessary */
}

.hero {
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: 5px; /* Adjust if necessary to account for header height */
}

.hero h1 {
    margin: 0;
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; /* Adjust the gap as needed */
    padding: 80px;
}

.about-text, .about-image {
    flex: 1;
    min-width: 300px; /* Ensures a minimum width for responsive design */
}

.about-text {
    flex: 2; /* Adjust flex values as needed */
}

.about-image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px; /* Limit the width of the image */
    margin: auto; /* Center the image */
}


.employers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px; /* Adjust the gap as needed */
    padding: 80px;
}

.employers-text, .employers-image {
    flex: 1;
    min-width: 300px; /* Ensures a minimum width for responsive design */
}

.employers-text {
    flex: 2; /* Adjust flex values as needed */
}

.employers-image img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 300px; /* Limit the width of the image */
    margin: auto; /* Center the image */
}

/* image animatin while scrolling */
.scroll-animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animate.visible {
    opacity: 1;
    transform: translateY(0);
}



.cta {
    background: #c95656;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.cta:hover {
    background: #f57777;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.content {
    padding: 60px 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Swiper styles */
.swiper-container {
    width: 100%;
    height: 920px;
}

.home-slider .swiper-slide {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;

}

.popup {
    display: none; /* Hidden by default */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is above other elements */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-popup {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 300px;
}

.contact-form h2, .contact-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}

.form-group input, 
.form-group select, 
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group input::placeholder, 
.form-group select::placeholder, 
.form-group textarea::placeholder {
    color: #999;
}

.contact-form input[type="submit"] {
    background-color: #c95656;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif; 
}

.contact-form input[type="submit"]:hover {
    background-color: #f57777;
}

.contact-info p {
    margin: 10px 0;
}

#contact {
    position: relative;
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url('imgs/pattern.png') repeat;
    animation: movePattern 60s linear infinite;
    opacity: 0.8; /* Adjust opacity to your liking */
    z-index: -1;
}

@keyframes movePattern {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 768px) {
    .menu-icon {
        display: block; /* Show the menu icon */
        text-align: right;
        margin-left: 210px;
    }

    .close-icon {
        margin-left: auto;
        margin-left: 210px;
    }
    nav ul {
        display: none; /* Hide the menu by default */
        flex-direction: column;
        text-align: center;
        position: absolute; /* Position below the header */
        background-color: #ffffff; /* Match the header background */
        width: 100%; /* Full width */
        left: 0; /* Align with the left edge */
        top: 150px; /* Adjust based on the header height */
        padding: 0;
        margin: 0;
        z-index: 999;
    }

    nav ul li {
        margin: 0;
    }

    .menu-container ul.active {
        display: flex;
        flex-direction: column;
    }

    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .top-header-left,
    .top-header-right {
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .top-header-right a:last-child {
        margin-right: 20px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    .hero p {
        font-size: 1rem;
    }
    .cta {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {

    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .top-header-left,
    .top-header-right {
        flex-direction: column;
        align-items: center;
    }

    .top-header-left a,
    .top-header-right a {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        margin: 10px 0;
    }
    .hero {
        height: 300px;
    }
    .hero h1 {
        font-size: 2rem;
    }
    .hero p {
        font-size: 0.9rem;
    }
    .cta {
        padding: 6px 12px;
    }

    .swiper-container {
        height: 400px; /* Further adjust for very small screens */
    }
}
